.box {
    width: 1000px;
    height: 2000px;
}

.rect1 {
    fill: orchid;
    stroke-width: 2px;
    stroke: purple;
}

.rect2 {
    fill: crimson;
    stroke: black;
    stroke-width: 2px;
}

.circle1 {
    fill: blueviolet;
    stroke: black;
    stroke-width: 3px;
}

.circle2 {
    fill: darksalmon;
    stroke: deeppink;
    stroke-width: 10px;
}

.circle3 {
    fill: dodgerblue;
    stroke: rgba(30,20,175,0.623);
    stroke-width: 3px;
}