body {
    font-family: Georgia;
}

h1 {
    text-align: center;
}

mark {
    background: midnightblue;
    color: white;
}

p{
    color: navy;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}

video {
    margin-left: 400px;
}

audio {
    margin-left: 530px;
}

input {
    margin-left: 610px;
    margin-bottom: 30px;
}
